* {
  box-sizing: border-box;
}

.leftcolumn {
  background-color: #4A90E2;
  width: 300px;
  height: 1250px;
  float: left;
}

.middlecolumn {
  background-color: #50E3C2;
  width: 300px;
  height: 1250px;
  float: left;
}

.rightcontainer {
  width: 300px;
  height: 1250px;
  float: left;
}
.topright {
  background-color: #B8E986;
  width: 300px;
  height: 1050px;
}

.img-placeholder {
  font-family: Arial;
  background-color: red;
  width: 300px;
  height: 200px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding-top: 80px;
}
