* {
  box-sizing: border-box;
}

.rowone {
  background-color: #D8D8D8;
  height: 89px;
  padding: 10px;
  width: 715px;
}

.insidebox {
  background-color: #4A90E2;
  height: 70px;
  width: 70px;
  margin-left: 10px;
}

.textrow {
  background-color: white;
  height: 190px;
  width: 715px;
}

p {
  color: ###808286;
  font-size: 19px;
  line-height: 20px;
  padding: 30px;
  margin: 15px;
}

.rowtwo {
  background-color: #4A90E2;
  height: 103px;
  width: 715px;
}

.rowthree {
  background-color: #50E3C2;
  height: 103px;
  width: 715px;
}

.rowfour {
  background-color: #B8E986;
  height: 103px;
  width: 715px;
}

.rowfive {
  background-color: #F9E553;
  height: 103px;
  width: 715px;
}
