* {
  box-sizing: border-box;
}

header {
  width: 1000px;
  height: 175px;
  background-color: #545454;
}

.leftcolumn {
  background-color: lightgray;
  width: 150px;
  height: 750px;
  float: left;
}

.middlecontainer {
  width: 700px;
  height: 750px;
  float: left;
}

.topmiddle {
  background-color: white;
  width: 700px;
  height: 675px;
}

.bottommiddle {
  background-color: #222222;
  width: 700px;
  height: 75px;
}

.rightcolumn {
  background-color: lightgray;
  width: 150px;
  height: 750px;
  float: left;
}
